# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [4]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [ ]:
url='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called chipo.

In [5]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep="\t")

In [6]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [23]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

### Step 4. How many products cost more than $10.00?

In [7]:
chipo['item_price'].nunique()

78

In [8]:
# Clean the 'item_price' column: remove dollar sign and convert to float
chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)

In [9]:
expensive_items = chipo[chipo['item_price'] > 10.00]

In [10]:
num_expensive_products = expensive_items['item_name'].nunique()
print(f"Number of unique products costing more than $10.00: {num_expensive_products}")

Number of unique products costing more than $10.00: 31

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [15]:
item_prices = chipo[['item_name', 'item_price']]
unique_item_prices = item_prices.drop_duplicates().sort_values(by='item_name').reset_index()
print(unique_item_prices)

     index          item_name  item_price
0     3389  6 Pack Soft Drink       12.98
1      298  6 Pack Soft Drink        6.49
2     4510      Barbacoa Bowl       11.49
3     3195      Barbacoa Bowl        8.69
4       95      Barbacoa Bowl        9.25
..     ...                ...         ...
204    186  Veggie Salad Bowl       11.25
205   3889  Veggie Soft Tacos       16.98
206    738  Veggie Soft Tacos       11.25
207    781  Veggie Soft Tacos        8.75
208   1395  Veggie Soft Tacos        8.49

[209 rows x 3 columns]

### Step 6. Sort by the name of the item

In [16]:
item_prices = chipo[['item_name', 'item_price']]

In [17]:
item_prices_unique = item_prices.drop_duplicates()

In [19]:
item_prices_sorted = item_prices_unique.sort_values(by='item_name')
print(item_prices_sorted)

              item_name  item_price
3389  6 Pack Soft Drink       12.98
298   6 Pack Soft Drink        6.49
4510      Barbacoa Bowl       11.49
3195      Barbacoa Bowl        8.69
95        Barbacoa Bowl        9.25
...                 ...         ...
186   Veggie Salad Bowl       11.25
3889  Veggie Soft Tacos       16.98
738   Veggie Soft Tacos       11.25
781   Veggie Soft Tacos        8.75
1395  Veggie Soft Tacos        8.49

[209 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [20]:
most_expensive_order = chipo.loc[chipo['item_price'].idxmax()]

In [21]:
print("Most expensive item ordered:")
print(most_expensive_order[['item_name', 'quantity', 'item_price']])

Most expensive item ordered:
item_name     Chips and Fresh Tomato Salsa
quantity                                15
item_price                           44.25
Name: 3598, dtype: object

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [22]:
veggie_salad_bowl_orders = chipo[chipo['item_name'] == 'Veggie Salad Bowl']['quantity'].sum()
print(f"'Veggie Salad Bowl' was ordered {veggie_salad_bowl_orders} times.")

'Veggie Salad Bowl' was ordered 18 times.

### Step 9. How many times did someone order more than one Canned Soda?

In [24]:
multiple_canned_soda_orders = chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)]

In [26]:
count = multiple_canned_soda_orders.shape[0]
print(f"'Canned Soda' was ordered more than once in {count} orders.")

'Canned Soda' was ordered more than once in 20 orders.