# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [14]:
import pandas as pd
from datetime import datetime as dt
import yfinance as yf

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [7]:
start = dt.strptime("01/01/2015", "%m/%d/%Y")
end = dt.today()

print(f"Start: {start}")
print(f"End: {end}")

Start: 2015-01-01 00:00:00
End: 2025-10-01 16:49:26.144120

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [8]:
stocks = ["AAPL", "TSLA", "TWTR", "IBM", "LNKD"]

### Step 4. Read the data from google, assign to df and print it

In [10]:
df = yf.download(stocks, start=start, end=end)

C:\Users\user\AppData\Local\Temp\ipykernel_9464\1109736924.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(stocks, start=start, end=end)
[*********************100%***********************]  4 of 5 completed

3 Failed downloads:
['IBM']: OperationalError('database is locked')
['LNKD']: YFPricesMissingError('possibly delisted; no price data found  (1d 2015-01-01 00:00:00 -> 2025-10-01 16:49:26.144120)')
['TWTR']: YFTzMissingError('possibly delisted; no timezone found')

### Step 5.  What is the type of structure of df ?

In [15]:
type(df)

pandas.core.frame.DataFrame

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

In [18]:
print("Axes:")
for axis in df.axes:
    print(axis)

Axes:
DatetimeIndex(['2015-01-02', '2015-01-05', '2015-01-06', '2015-01-07',
               '2015-01-08', '2015-01-09', '2015-01-12', '2015-01-13',
               '2015-01-14', '2015-01-15',
               ...
               '2025-09-18', '2025-09-19', '2025-09-22', '2025-09-23',
               '2025-09-24', '2025-09-25', '2025-09-26', '2025-09-29',
               '2025-09-30', '2025-10-01'],
              dtype='datetime64[ns]', name='Date', length=2703, freq=None)
MultiIndex([('Adj Close',  'IBM'),
            ('Adj Close', 'LNKD'),
            ('Adj Close', 'TWTR'),
            (    'Close', 'AAPL'),
            (    'Close',  'IBM'),
            (    'Close', 'LNKD'),
            (    'Close', 'TSLA'),
            (    'Close', 'TWTR'),
            (     'High', 'AAPL'),
            (     'High',  'IBM'),
            (     'High', 'LNKD'),
            (     'High', 'TSLA'),
            (     'High', 'TWTR'),
            (      'Low', 'AAPL'),
            (      'Low',  'IBM'),
            (      'Low', 'LNKD'),
            (      'Low', 'TSLA'),
            (      'Low', 'TWTR'),
            (     'Open', 'AAPL'),
            (     'Open',  'IBM'),
            (     'Open', 'LNKD'),
            (     'Open', 'TSLA'),
            (     'Open', 'TWTR'),
            (   'Volume', 'AAPL'),
            (   'Volume',  'IBM'),
            (   'Volume', 'LNKD'),
            (   'Volume', 'TSLA'),
            (   'Volume', 'TWTR')],
           names=['Price', 'Ticker'])

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

In [19]:
vol = df['Volume']
print(vol.head())

Ticker           AAPL  IBM  LNKD      TSLA  TWTR
Date
2015-01-02  212818400  NaN   NaN  71466000   NaN
2015-01-05  257142000  NaN   NaN  80527500   NaN
2015-01-06  263188400  NaN   NaN  93928500   NaN
2015-01-07  160423600  NaN   NaN  44526000   NaN
2015-01-08  237458000  NaN   NaN  51637500   NaN

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

In [21]:
vol_weekly = vol.resample('W').sum()
vol_weekly.head()

Ticker            AAPL  IBM  LNKD       TSLA  TWTR
Date
2015-01-04   212818400  0.0   0.0   71466000   0.0
2015-01-11  1133010000  0.0   0.0  340644000   0.0
2015-01-18  1216906400  0.0   0.0  461988000   0.0
2015-01-25   794948000  0.0   0.0  243175500   0.0
2015-02-01  1863370800  0.0   0.0  235803000   0.0

### Step 9. Find all the volume traded in the year of 2015

In [27]:
vol_2015 = vol.loc['2015-01-01':'2015-12-31']
total_vol_2015 = vol_2015.sum()
print("Total Volume Traded in 2015:")
print(total_vol_2015)

Total Volume Traded in 2015:
Ticker
AAPL    5.226420e+10
IBM     0.000000e+00
LNKD    0.000000e+00
TSLA    1.632327e+10
TWTR    0.000000e+00
dtype: float64

### BONUS: Create your own question and answer it.

Calculate the average weekly trading volume for Tesla (TSLA) in the year 2020.

In [28]:
vol_2020 = vol.loc['2020-01-01':'2020-12-31']
tsla_weekly_avg_2020 = vol_2020['TSLA'].resample('W').mean()
tsla_weekly_avg_2020

Date
2020-01-05    204829500.0
2020-01-12    301677900.0
2020-01-19    324745200.0
2020-01-26    311914125.0
2020-02-02    263769300.0
2020-02-09    640115700.0
2020-02-16    271176600.0
2020-02-23    276579000.0
2020-03-01    285204900.0
2020-03-08    253630800.0
2020-03-15    262620000.0
2020-03-22    380253900.0
2020-03-29    276991500.0
2020-04-05    256629900.0
2020-04-12    221728500.0
2020-04-19    331245000.0
2020-04-26    226709700.0
2020-05-03    339369300.0
2020-05-10    224898600.0
2020-05-17    227077800.0
2020-05-24    152561100.0
2020-05-31    144972375.0
2020-06-07    159462600.0
2020-06-14    230418600.0
2020-06-21    174212100.0
2020-06-28    125390100.0
2020-07-05    211957125.0
2020-07-12    280278300.0
2020-07-19    307206300.0
2020-07-26    273344400.0
2020-08-02    183340500.0
2020-08-09    111182400.0
2020-08-16    212941200.0
2020-08-23    273070500.0
2020-08-30    266208300.0
2020-09-06    301385760.0
2020-09-13    255434700.0
2020-09-20    249470460.0
2020-09-27    268740840.0
2020-10-04    162153600.0
2020-10-11    123806160.0
2020-10-18    113749680.0
2020-10-25    104414880.0
2020-11-01     84926220.0
2020-11-08     87381840.0
2020-11-15     73260660.0
2020-11-22    156874860.0
2020-11-29    142800075.0
2020-12-06    133701360.0
2020-12-13    183254460.0
2020-12-20    250562520.0
2020-12-27    124349925.0
2021-01-03    110763975.0
Freq: W-SUN, Name: TSLA, dtype: float64