In [1]:
import pandas as pd
import numpy as np

In [3]:
s=pd.Series([10.5,12.5,14.5,16.5])

In [4]:
print(s)

0    10.5
1    12.5
2    14.5
3    16.5
dtype: float64

Index:contain unique identifiers of entries within a datafram or seriers

In [16]:
m=pd.Series([10.5,12.5,14.5,16.5],name="height")

In [17]:
print(m)

0    10.5
1    12.5
2    14.5
3    16.5
Name: height, dtype: float64

In [18]:
m.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
n=pd.Series([10.5,12.5,14.5,16.5],name="height",index =['a','b','c','d'])

In [8]:
print(n)

a    10.5
b    12.5
c    14.5
d    16.5
Name: height, dtype: float64

In [12]:
o=n=pd.Series([10.5,12.5,14.5,16.5],name="height",index =['a','b','c','d'])

In [13]:
print(o)

a    10.5
b    12.5
c    14.5
d    16.5
Name: height, dtype: float64

In [14]:
o.values

array([10.5, 12.5, 14.5, 16.5])

In [15]:
o.index

Index(['a', 'b', 'c', 'd'], dtype='object')

From dictionaries

In [19]:
population={"Nairobi":150000,"Mombasa":250000,"Kitale":100000}

In [20]:
type(population)

dict

In [21]:
pop=pd.Series(population)

In [22]:
pop

Nairobi    150000
Mombasa    250000
Kitale     100000
dtype: int64

In [23]:
pop.index

Index(['Nairobi', 'Mombasa', 'Kitale'], dtype='object')

In [24]:
pop.values

array([150000, 250000, 100000])

DataFrame

In [25]:
population

{'Nairobi': 150000, 'Mombasa': 250000, 'Kitale': 100000}

In [26]:
area={"Nairobi":200,"Mombasa":550,"Kitale":130}

In [27]:
area

{'Nairobi': 200, 'Mombasa': 550, 'Kitale': 130}

In [28]:
regions=pd.DataFrame({"pop":population,"cubic_metres":area})

In [29]:
print(regions)

            pop  cubic_metres
Nairobi  150000           200
Mombasa  250000           550
Kitale   100000           130

In [35]:
pd.__version__

'2.3.2'

In [30]:
regions.index

Index(['Nairobi', 'Mombasa', 'Kitale'], dtype='object')

In [ ]:
data={"Name",["John","Mary","Peter","Susan"],
      "Module",["Python","Pydata","Machine  Learning"],"Scores",[80,90,75,88]}

TypeError: unhashable type: 'list'

In [31]:
df=pd.DataFrame(data)
print(df)

NameError: name 'data' is not defined